form.login-form('novalidate')
	label.username(for="un"): input(type="text",placeholder="Username",name="un",id="un")
	label.password(for="pw"): input(type="password",placeholder="Password",name="pw",id="pw")
	button.login Log In

	span.bottom-links
		a(href="#") Sign up
